<center>
    <b>Validate Check Details</b></center>
<br/>
<br/>
<div class="row">
  <div class="col-sm-3 pull-right">
    <button style="margin-left:-32px; margin-top: -40px;" class="btn btn-success dropdown-toggle js-checkVerify" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <i class="fa fa-plus"></i>&nbsp View History
    </button>
  </div>
     <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <form style="background-color: white;text-align: left;padding: 20px;border-radius: 5px">

            <div class="form-group">
                <label class="control-label" for="routing-number">Routing Number</label>
                <i class="fa fa-pencil-square-o pull-right" id="js-scanned-edit" aria-hidden="true" style="font-size: 40px; display:None"></i>
                <input type="text" class="form-control style-4 js-routingnumber js-number-type check-input-style" name="routing-number" maxlength="9">
            </div>
            <div class="form-group">
                <label class="control-label" for="account-number">Account Number</label>
                <input type="text"  class="form-control style-4 js-accountnumber js-number-type check-input-style" name="account-number" maxlength="17">
            </div>
            <div class="form-group">
                <label class="control-label" for="check-number">Check Number</label>
                <input type="text" class="form-control style-4 js-checknumber js-number-type check-input-style" name="check-number" maxlength="6">
            </div>
            <div class="form-group">
                <label class="control-label" for="amount">Amount</label>
                <input type="text" class="form-control style-4 js-amount js-decimal-type check-input-style"  name="amount">
            </div>

            <div class="form-group">
                <button class="btn btn--action js-submitcheck" style="background-color:#00985C" data-loading-text="Loading...">VALIDATE</button>
            </div>
        </form>
    </div>
    <div class="col-sm-5" style="background-color: white;text-align: left;border-radius: 5px">

            <h3>Instructions</h3>
            <ul>
            <li>Check Limit: Amount of Purchase plus $10.00 Cash</li>
            <br>
            <li>No - P.O. Boxes</li>
            <li>No - Temporary Checks</li>
            <li>No - 2-Party Checks</li>
            <br>
            <li>Verify ID (Ask for Drivers License, State or Military ID)</li>
            <br>
            <li>Two phone number are required unless retired (RET)</li>
            <br>
            <li>All Checks Must Be Dated!</li>
            <br>
            <li>Stamp and Initial ALL Checks!</li>
            <br>
            <ul>
    </div>
    <div class="col-sm-1"></div>
</div>
