<div class="row">
    <div class="row">
        <div class="col-sm-6" style="margin-top: -16px">
            <div class="col-sm-6 text-right">
                Verify OTP :
            </div>
            <div class="col-sm-4 form-group">
                <input type="text" class="form-control" id="empitotpid" maxlength="6" name="initials" value="{{initials}}" placeholder="Enter OTP"autofocus>
                <br>
                <button class="btn btn-primary js-empOPTverify" data-cash_recon_id="{{cash_recon_id}}" data-type="{{type}}" data-accType="Complete" data-loading-text="Loading...">Verify</button>
            </div>
        </div>
    </div>
</div>
