<div class="row">
    <div id="js-end-histerydiv">
        <h4 style="text-align:right; margin-right: 10%;"><a class="btn btn-success" style="margin-right:125px;margin-top:0px;"  id="js-endofday-histery-link"><i class="fa fa-list"></i> View History</a></h4></div>
    <div id="js-histerydetailspage"></div>
    <div id="js-contentdiv"></div>
</div>
