<div class="row">
  <div class="inline">
    <div class="col-sm-10">

        <h3 class="col-sm-4">One Time Password:</h3>
        <input type="text" class="col-sm-2" id="messageOTP" style="margin-top:20px;" readonly=""></div>

      </div>
    </div>
        </div>
