<div class="row" style="margin-top:7%;">
  <div class="col-sm-5 col-sm-offset-4" style="margin-top: 30px;margin-bottom:30px">
    <p style="font-weight: bold;font-size: 20px">*** SUCCESS ***</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-2">
    <form style="background-color: white;text-align: center;padding: 20px;border-radius: 5px">
      <p>YOUR MONEY ORDER IS CASHED</p>
      </br />
      <div class="row">
      <!-- <div class="col-sm-2 col-sm-offset-4">
          <button class="btn btn-block js-moneyOrderSuccess">OK</button>
        </div> -->
        <div class="col-sm-4"></div>
         <div class="col-sm-4">
          <button class="btn btn-block js-moneyOrderExit" style="background-color: #00985C;">EXIT</button>
        </div>
      </div>
    </form>
  </div>
</div>
