<div class="row">
  <div class="col-sm-6 col-sm-offset-3" style="margin-top:10%;">
    <form style="background-color: white;text-align: center;padding: 20px;border-radius: 5px">

      <div class="row">
        <label class="control-label" for="time">Scan item or enter Money Order number</label>
      </div>
      <div class="form-group">
        <input type="text" class="form-control style-4 js-moneyOrderNum js-number-type" name="time" style="padding: 10px;border: none;border-bottom: solid 2px #c9c9c9;transition: border 0.3s;background-color: white;font-size: 18px;" autofocus maxlength="11">
      </div>

      <div class="form-group">
        <button class="btn btn--action btn-block js-moneyOrderSubmit" style="background-color:#00985C" data-loading-text="Loading...">Continue</button>
      </div>
    </form>
    <div>
    </div>
