<div class="row">
  <div class="col-sm-5 col-sm-offset-3 text-center" style="margin-top: 30px;margin-bottom:30px">
    <p style="font-weight: bold;font-size: 20px">NOTICE</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-5 col-sm-offset-3">
    <form style="background-color: white;text-align: center;padding: 20px;border-radius: 5px">
      <p><span id="js-reportName"></span> UPC verification Failed!!
      </p>
      <br/>


      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <button class="btn btn-block js-print-success-exit" style="background-color: #00985C;">EXIT</button>
        </div>
      </div>
    </form>
  </div>
</div>
