<div class="row">
  <div class="col-sm-5 col-sm-offset-3 text-center" style="margin-top: 30px;margin-bottom:30px">
    <p style="font-weight: bold;font-size: 20px">Warning</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-5 col-sm-offset-3">
    <form style="background-color: white;text-align: center;padding: 20px;border-radius: 5px">
      <p><span id="js-reportName"></span> No recent data available for Shift Checkin!!
      </p>
      <br/>
      <p> Please click continue to proceed with recently available data. </p>
      <div class="row">
        <div class="col-sm-6">
          <button class="btn btn-block btn--action col-sm-6 js-noShiftData-continue" style="background-color: #00985C;">CONTINUE</button>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-block btn--action col-sm-6 js-noShiftData-exit" >EXIT</button>
        </div>
      </div>
    </form>
  </div>
</div>
